<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../static/css/style.css"
          th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>Change test data</title>
</head>
<body>

<header>

    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark">
        <ul class="navbar-nav float-lg-left"/>
        <span class="navbar-brand text-uppercase mr-auto">Change test data</span>
    </nav>
</header>

<section id="project">

    <section id="change">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="panel-heading clearfix">
                                <form class="col-md-auto">
                                    <div class="input-group-btn">
                                        <label class="form-control-label"
                                               for="changeJS">Choose locale</label>
                                        <select id="changeJS" th:field="*{locationList}">
                                            <option value="" th:each="i : ${#numbers.sequence(0, locationList.size()-1)}"
                                                             th:value="${locationList.get(i)}" th:text="${locationList.get(i)}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input  type="text" name="number" id="number" placeholder="Number of change" value="1" class="form-control my-sm-1"/>
                                    </div>
                                    <div class="row">
                                            <div class="col-6">
                                                <a id="changePro" href="#" class="btn btn-danger"  >Change projects test data</a>
                                            </div>

                                            <div class="col-6">
                                                <a id="changeDev" href="#" class="btn btn-danger"  >Change developers test data</a>
                                            </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>



<script src="../../static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>

<script src="../../static/js/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>

<script src="../../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>

<script src="../../static/js/projectJS/fakeDataJS.js"
        th:src="@{/js/projectJS/fakeDataJS.js}"></script>

</body>
</html>