<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="../../static/css/font-awesome.min.css"
          rel="stylesheet"
          th:href="@{/css/font-awesome.min.css}">
    <link href="../../static/css/bootstrap.css"
          rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <link href="../../static/css/style.css"
          rel="stylesheet"
          th:href="@{/css/style.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Projects</title>
</head>
<body>

<header>
    <nav class="pl-2 navbar navbar-expand-sm navbar-dark bg-dark text-light  p-0">
        <button class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img alt="HR"
                                              height="32"
                                              src="../../static/img/logo.svg" th:src="@{/img/logo.svg}" width="32"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-item nav-link active"
                   href="projects.html"
                   th:href="@{/projects}">Projects</a>
                <a class="nav-item nav-link"
                   href="employees.html"
                   th:href="@{/developers}">Developers</a>
            </ul>
        </div>
    </nav>
    <nav class="py-1 mb-3 navbar navbar-expand-sm navbar-light bg-light text-dark"
         id="main-header">
        <span class="navbar-brand text-uppercase mr-auto">Projects</span>
        <ul class="navbar-nav float-right">
            <li class="nav-item">
                <a class="btn btn-light"
                   data-placement="bottom"
                   data-toggle="tooltip"
                   href="project.html"
                   th:href="@{/projects/add}"
                   title="Add project">
                    <i class="fa fa-plus"></i>
                    <span class="d-none d-sm-inline">Add</span></a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light"
                   data-placement="bottom"
                   data-toggle="tooltip"
                   href="projects.html"
                   th:href="@{|/projects|}"
                   title="Add project">
                    <i class="fa fa-refresh"></i>
                    <span class="d-none d-sm-inline">Refresh</span></a>
            </li>
            <li class="nav-item">
                <select class="selectpicker btn btn-outline-secondary"id="work">
                     <option disabled selected>Work with data</option>
                     <option disabled>_____________</option>
                     <option disabled >Excel</option>
                     <option value="1">import</option>
                     <option data-url="http://localhost:8080/projects/export/excel"value="2">export</option>
                     <option disabled>_____________</option>
                     <option disabled >Xml</option>
                     <option  value="3">import</option>
                     <option data-url="http://localhost:8080/projects/export/xml"value="4">export</option>
                 </select>
            </li>
        </ul>
    </nav>
</header>
<section>
    <form class="form-inline" action="" th:action =  "@{/projects/import}"
          method="post"
          enctype="multipart/form-data">
        <div  id="input-box">
            <div class="col-sm-auto col-md-auto">
                <div class="input-group">
                    <div class="custom-file">
                        <input id="input" type="file" class="form-control" name="file" th:fild = "*{multipartFile}">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form class="form-inline" action="" th:action =  "@{/projects/import/xml}"
          method="post"
          enctype="multipart/form-data">
        <div  id="xml-input-box">
            <div class="col-sm-auto col-md-auto">
                <div class="input-group">
                    <div class="custom-file">
                        <input id="xml-input" type="file" class="form-control" name="file" th:fild = "*{multipartFile}">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<section id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="container">
                        <form class="form-inline">
                            <label class="col-sm-auto col-md-auto" for="dateStart">Filter from</label>
                            <input class="form-control my-sm-1" id="dateStart"
                                   name="dateStart" placeholder="Date" required="" type="date">

                            <label class="col-sm-auto col-md-auto" for="dateEnd">to</label>
                            <input class="form-control my-sm-1" id="dateEnd" name="dateEnd" placeholder="Date"
                                   required="" type="date">
                            <div class="btn btn-light"
                                 data-placement="bottom"
                                 data-toggle="tooltip"
                                 title="Find project">
                                <i class="fa fa-eye"></i>
                                <button class="d-none d-sm-inline">Find</button>
                            </div>

                        </form>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>ProjectId</th>
                            <th>DateAdded</th>
                            <th>Count of developers</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project : ${projects}">
                            <td th:text="${project.projectId}">1</td>
                            <td th:text="${project.dateAdded}">2019-03-12</td>
                            <td th:text="${project.countOfDevelopers}">0</td>
                            <td class="text-right">
                                <a class="btn-sm btn-outline-secondary"
                                   data-placement="top"
                                   data-toggle="tooltip"
                                   href="project.html"
                                   th:href="@{|/projects/${project.projectId}|}"
                                   title="Edit project">
                                    <i class="fa fa-pencil"></i> <span
                                        class="d-none d-md-inline">Edit</span></a>
                                <span data-target="#deleteDialog"
                                      data-toggle="modal"
                                      th:attr="data-id=${project.projectId},data-date=${project.dateAdded}">
                                <a class="btn-sm btn-outline-secondary" data-placement="top"
                                   data-toggle="tooltip"
                                   href="#"
                                   title="delete project">
                                    <i class="fa fa-remove"></i> <span class="d-none d-md-inline">Delete</span></a>
                                </span>
                                <span data-target="#descriptionProject"
                                      data-toggle="modal"
                                      th:attr="data-desc=${project.description}">
                                <a class="btn-sm btn-outline-secondary"
                                   data-placement="bottom"
                                   data-toggle="modal"
                                   href="#"
                                   title="Description">
                                    <i class="fa fa-eye"></i>
                                    <span class="d-none d-sm-inline">Description</span></a>
                                </span>
                                <div class="modal" id="descriptionProject">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Description</h4>
                                                <button class="close" data-dismiss="modal" type="button">×</button>
                                            </div>
                                            <div class="modal-body">
                                                Modal body..
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-info" data-dismiss="modal" type="button">Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2020</p>
</footer>

<!-- Confirm delete Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="deleteDialog"
     role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete project</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                <a class="btn btn-danger" href="#" id="deleteUrl">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script src="../../static/js/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="../../static/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
<script src="../../static/js/projectJS/projectsJS.js"
        th:src="@{/js/projectJS/projectsJS.js}"></script>
<script src="../../static/js/commonJS/commonJS.js"
        th:src="@{/js/commonJS/commonJS.js}"></script>

</body>
</html>